@import "../../styles";

.container {
  width: 100%;
  background-color: $colorBlueBaby;
  @include flexCenter();
  position: sticky;
  top: 0;
  z-index: $zIndexMax;

  .header {
    @include flexCenter();
    justify-content: space-between;
    width: 100%;
    height: $heightHeaderDesktop;
    @include paddingX();

    .iconLogo {
      width: 229px;
      height: 71px;
    }

    @media (max-width: 992px) {
      height: $heightHeaderMobile;
      max-width: $widthMaxMobile;

      .iconLogo {
        width: 112px;
        height: 35px;
      }

      .icon {
        width: 25px;
        height: auto;
      }
    }
  }
}
